testing/simple_business_workflow.json
{
  "name": "Enhanced Business OS Builder (Local AI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "build-business-os",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-enhanced",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract and prepare data for AI analysis\nconst companyName = $json.body.company_name || 'Unknown Company';\nconst documents = $json.body.documents || [];\n\n// Prepare documents for AI analysis\nconst documentsForAI = documents.map(doc => {\n  return {\n    type: doc.type,\n    content: doc.content,\n    wordCount: doc.content.split(' ').length\n  };\n});\n\n// Create AI analysis prompt\nconst aiPrompt = `You are a business strategy expert. Analyze the following business documents and extract key insights:\n\nCompany: ${companyName}\n\nDocuments:\n${documents.map(doc => `\\n${doc.type.toUpperCase()}:\\n${doc.content}`).join('\\n\\n')}\n\nPlease extract:\n1. Core business focus/industry\n2. Key competitive advantages\n3. Primary customer segments\n4. Technology stack summary\n5. Growth opportunities\n6. Risk factors\n\nRespond in JSON format with these keys: focus, advantages, customers, tech_stack, opportunities, risks`;\n\nreturn [{\n  company_name: companyName,\n  original_documents: documents,\n  documents_for_analysis: documentsForAI,\n  ai_prompt: aiPrompt,\n  document_count: documents.length\n}];"
      },
      "id": "prepare-ai-analysis",
      "name": "Prepare AI Analysis",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://model-runner.docker.internal/engines/llama.cpp/v1/chat/completions",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "ai/llama3.2:3B"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are a business strategy expert. Always respond with valid JSON.\"}, {\"role\": \"user\", \"content\": \"{{ $json.ai_prompt }}\"}]"
            },
            {
              "name": "temperature",
              "value": "0.3"
            },
            {
              "name": "max_tokens",
              "value": "800"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-business-analysis",
      "name": "AI Business Analysis",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Process AI analysis and create enhanced Business OS\nconst inputData = $input.all()[0].json; // Original data\nconst aiResponse = $json; // AI analysis response\n\nlet aiInsights = {};\ntry {\n  // Extract AI insights from response\n  const aiContent = aiResponse.choices[0].message.content;\n  aiInsights = JSON.parse(aiContent);\n} catch (error) {\n  console.log('AI response parsing error:', error);\n  aiInsights = {\n    focus: 'Technology/Software',\n    advantages: ['Innovation', 'Team expertise'],\n    customers: ['Businesses', 'Startups'],\n    tech_stack: ['Modern web technologies'],\n    opportunities: ['Market expansion'],\n    risks: ['Competition']\n  };\n}\n\n// Helper function to filter documents by type\nfunction getDocumentsByType(type) {\n  return inputData.original_documents.filter(d => d && d.type === type);\n}\n\n// Create enhanced Business OS Structure with AI insights\nconst businessOS = {\n  \"0\": {\n    \"name\": \"Foundation\",\n    \"description\": \"Core identity and governance\",\n    \"subdomains\": {\n      \"0.1\": \"Vision Mission Values\",\n      \"0.2\": \"Legal Entity\",\n      \"0.3\": \"Governance Structure\"\n    },\n    \"content\": getDocumentsByType('mission_vision_values'),\n    \"ai_insights\": {\n      \"focus_area\": aiInsights.focus,\n      \"core_advantages\": aiInsights.advantages\n    }\n  },\n  \"1\": {\n    \"name\": \"Market Intelligence\",\n    \"description\": \"Customer and market understanding\",\n    \"subdomains\": {\n      \"1.1\": \"Customer Personas\",\n      \"1.2\": \"Market Research\",\n      \"1.3\": \"Competitive Analysis\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"target_customers\": aiInsights.customers,\n      \"market_opportunities\": aiInsights.opportunities\n    }\n  },\n  \"2\": {\n    \"name\": \"Brand & Marketing\",\n    \"description\": \"Brand identity and marketing strategy\",\n    \"subdomains\": {\n      \"2.1\": \"Brand Guidelines\",\n      \"2.2\": \"Marketing Strategy\",\n      \"2.3\": \"Content Framework\"\n    },\n    \"content\": getDocumentsByType('brand_guidelines'),\n    \"ai_insights\": {\n      \"brand_positioning\": aiInsights.focus,\n      \"competitive_advantages\": aiInsights.advantages\n    }\n  },\n  \"3\": {\n    \"name\": \"Product & Innovation\",\n    \"description\": \"Product development and innovation\",\n    \"subdomains\": {\n      \"3.1\": \"Product Roadmap\",\n      \"3.2\": \"Feature Requirements\",\n      \"3.3\": \"Innovation Pipeline\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"innovation_opportunities\": aiInsights.opportunities,\n      \"technology_focus\": aiInsights.tech_stack\n    }\n  },\n  \"4\": {\n    \"name\": \"Operations\",\n    \"description\": \"Day-to-day business operations\",\n    \"subdomains\": {\n      \"4.1\": \"Process Documentation\",\n      \"4.2\": \"Quality Management\",\n      \"4.3\": \"Supply Chain\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"operational_focus\": aiInsights.tech_stack,\n      \"efficiency_opportunities\": aiInsights.opportunities\n    }\n  },\n  \"5\": {\n    \"name\": \"Technology & Systems\",\n    \"description\": \"Technology infrastructure and systems\",\n    \"subdomains\": {\n      \"5.1\": \"Tech Stack\",\n      \"5.2\": \"System Architecture\",\n      \"5.3\": \"Development Process\"\n    },\n    \"content\": getDocumentsByType('resource_inventory'),\n    \"ai_insights\": {\n      \"current_stack\": aiInsights.tech_stack,\n      \"technical_advantages\": aiInsights.advantages\n    }\n  },\n  \"6\": {\n    \"name\": \"Human Resources\",\n    \"description\": \"People, culture, and talent management\",\n    \"subdomains\": {\n      \"6.1\": \"Team Structure\",\n      \"6.2\": \"Culture & Values\",\n      \"6.3\": \"Talent Strategy\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"team_strengths\": aiInsights.advantages,\n      \"talent_needs\": aiInsights.opportunities\n    }\n  },\n  \"7\": {\n    \"name\": \"Finance & Legal\",\n    \"description\": \"Financial management and legal compliance\",\n    \"subdomains\": {\n      \"7.1\": \"Financial Planning\",\n      \"7.2\": \"Legal Compliance\",\n      \"7.3\": \"Risk Management\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"risk_factors\": aiInsights.risks,\n      \"financial_opportunities\": aiInsights.opportunities\n    }\n  },\n  \"8\": {\n    \"name\": \"Partnerships & Stakeholders\",\n    \"description\": \"External relationships and partnerships\",\n    \"subdomains\": {\n      \"8.1\": \"Strategic Partnerships\",\n      \"8.2\": \"Investor Relations\",\n      \"8.3\": \"Community Engagement\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"partnership_opportunities\": aiInsights.opportunities,\n      \"stakeholder_focus\": aiInsights.customers\n    }\n  },\n  \"9\": {\n    \"name\": \"Growth & Future\",\n    \"description\": \"Future planning and growth strategies\",\n    \"subdomains\": {\n      \"9.1\": \"Growth Strategy\",\n      \"9.2\": \"Future Roadmap\",\n      \"9.3\": \"Scaling Plans\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"growth_opportunities\": aiInsights.opportunities,\n      \"scaling_challenges\": aiInsights.risks\n    }\n  }\n};\n\n// Generate AI-enhanced implementation roadmap\nconst roadmap = {\n  \"phase_1\": {\n    \"name\": \"AI-Guided Foundation\",\n    \"duration\": \"2-4 weeks\",\n    \"domains\": [\"0\", \"2\", \"5\"],\n    \"tasks\": [\n      `Document mission/vision leveraging ${aiInsights.focus} focus`,\n      `Establish brand guidelines highlighting ${(aiInsights.advantages || []).slice(0, 2).join(' and ')}`,\n      `Map technology stack with focus on ${(aiInsights.tech_stack || []).join(', ')}`\n    ],\n    \"ai_priority\": \"High - Foundation elements identified by AI analysis\"\n  },\n  \"phase_2\": {\n    \"name\": \"Market & Operations Intelligence\",\n    \"duration\": \"4-6 weeks\",\n    \"domains\": [\"1\", \"4\", \"6\"],\n    \"tasks\": [\n      `Research ${(aiInsights.customers || []).join(' and ')} segments`,\n      \"Document core operational processes\",\n      \"Define team structure and culture\"\n    ],\n    \"ai_priority\": \"Medium - Market insights guide implementation\"\n  },\n  \"phase_3\": {\n    \"name\": \"Growth & Risk Management\",\n    \"duration\": \"6-8 weeks\",\n    \"domains\": [\"3\", \"7\", \"8\", \"9\"],\n    \"tasks\": [\n      `Develop product roadmap targeting ${(aiInsights.opportunities || []).slice(0, 2).join(' and ')}`,\n      `Establish risk management for ${(aiInsights.risks || []).join(', ')}`,\n      \"Build partnership strategy\",\n      \"Create scaling framework\"\n    ],\n    \"ai_priority\": \"Strategic - Long-term growth guided by AI recommendations\"\n  }\n};\n\nreturn [{\n  company_name: inputData.company_name,\n  business_os: businessOS,\n  implementation_roadmap: roadmap,\n  ai_analysis: aiInsights,\n  ai_enhanced: true,\n  model_used: \"ai/llama3.2:3B\",\n  status: 'success',\n  message: `AI-Enhanced Business OS structure generated for ${inputData.company_name}`,\n  timestamp: new Date().toISOString(),\n  debug: {\n    documents_received: inputData.original_documents.length,\n    documents_types: inputData.original_documents.map(d => d.type),\n    ai_insights_extracted: Object.keys(aiInsights).length,\n    foundation_content: getDocumentsByType('mission_vision_values').length,\n    brand_content: getDocumentsByType('brand_guidelines').length,\n    tech_content: getDocumentsByType('resource_inventory').length\n  }\n}];"
      },
      "id": "create-enhanced-business-os",
      "name": "Create Enhanced Business OS",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "enhanced-response",
      "name": "Enhanced Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Analysis": {
      "main": [
        [
          {
            "node": "AI Business Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Business Analysis": {
      "main": [
        [
          {
            "node": "Create Enhanced Business OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Enhanced Business OS": {
      "main": [
        [
          {
            "node": "Enhanced Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
