testing/simple_business_workflow.json
{
  "name": "AI Business OS Builder (Model Runner)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "build-business-os",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-ai-os",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "functionCode": "// Extract business documents and prepare for AI analysis\nconst companyName = $json.body.company_name || 'Unknown Company';\nconst documents = $json.body.documents || [];\nconst useAdvancedAnalysis = $json.body.advanced_analysis !== false;\n\n// Create comprehensive AI prompt for business analysis\nconst businessContext = documents.map(doc => \n  `${doc.type.toUpperCase().replace(/_/g, ' ')}:\\n${doc.content}`\n).join('\\n\\n');\n\nconst aiPrompt = `You are an expert business strategist and organizational consultant. Analyze the following business information for ${companyName} and provide comprehensive insights.\n\nBUSINESS DOCUMENTS:\n${businessContext}\n\nProvide a detailed analysis in JSON format with these exact keys:\n{\n  \"business_focus\": \"Primary industry/sector (e.g., 'B2B SaaS', 'E-commerce Platform', 'Fintech')\",\n  \"core_value_proposition\": \"Main value delivered to customers\",\n  \"target_customers\": [\"Primary customer segment 1\", \"Secondary segment 2\"],\n  \"competitive_advantages\": [\"Key advantage 1\", \"Advantage 2\", \"Advantage 3\"],\n  \"technology_stack\": [\"Primary tech 1\", \"Tech 2\", \"Tech 3\"],\n  \"business_model\": \"How the company makes money\",\n  \"growth_opportunities\": [\"Opportunity 1\", \"Opportunity 2\", \"Opportunity 3\"],\n  \"operational_challenges\": [\"Challenge 1\", \"Challenge 2\"],\n  \"strategic_priorities\": [\"Priority 1\", \"Priority 2\", \"Priority 3\"],\n  \"market_positioning\": \"How company positions itself in market\",\n  \"scalability_factors\": [\"Factor 1\", \"Factor 2\"],\n  \"risk_factors\": [\"Risk 1\", \"Risk 2\"]\n}\n\nEnsure the response is valid JSON only, no additional text.`;\n\nreturn [{\n  company_name: companyName,\n  documents: documents,\n  ai_prompt: aiPrompt,\n  document_count: documents.length,\n  use_advanced_analysis: useAdvancedAnalysis,\n  timestamp: new Date().toISOString()\n}];"
      },
      "id": "prepare-ai-analysis",
      "name": "Prepare AI Analysis",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "url": "http://model-runner.docker.internal/engines/llama.cpp/v1/chat/completions",
        "httpMethod": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "ai/llama3.2:3B"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"You are an expert business strategist. Always respond with valid JSON only.\"}, {\"role\": \"user\", \"content\": \"{{ $json.ai_prompt }}\"}]"
            },
            {
              "name": "temperature",
              "value": "0.2"
            },
            {
              "name": "max_tokens",
              "value": "1200"
            },
            {
              "name": "stop",
              "value": "=[\"\\n\\n---\", \"\\n\\nNote:\"]"
            }
          ]
        },
        "options": {}
      },
      "id": "ai-business-intelligence",
      "name": "AI Business Intelligence",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "functionCode": "// Process AI analysis and create intelligent Business OS\nconst inputData = $input.all()[0].json;\nconst aiResponse = $json;\n\nlet businessIntelligence = {};\ntry {\n  const aiContent = aiResponse.choices[0].message.content.trim();\n  // Clean up any markdown formatting\n  const cleanContent = aiContent.replace(/```json\\n?|```\\n?/g, '').trim();\n  businessIntelligence = JSON.parse(cleanContent);\n} catch (error) {\n  console.log('AI parsing error:', error);\n  console.log('Raw AI response:', aiResponse.choices?.[0]?.message?.content);\n  // Fallback with intelligent defaults\n  businessIntelligence = {\n    business_focus: 'Technology/Software',\n    core_value_proposition: 'Innovation and efficiency through technology',\n    target_customers: ['Small to Medium Businesses', 'Tech-savvy organizations'],\n    competitive_advantages: ['Technical expertise', 'Innovation speed', 'Customer focus'],\n    technology_stack: ['Modern web technologies', 'Cloud infrastructure'],\n    business_model: 'Software as a Service',\n    growth_opportunities: ['Market expansion', 'Feature enhancement', 'Partnership development'],\n    operational_challenges: ['Scaling infrastructure', 'Talent acquisition'],\n    strategic_priorities: ['Product development', 'Customer acquisition', 'Market expansion'],\n    market_positioning: 'Premium technology provider',\n    scalability_factors: ['Cloud architecture', 'Automation'],\n    risk_factors: ['Market competition', 'Technology changes']\n  };\n}\n\n// Helper to safely get documents by type\nfunction getDocumentsByType(type) {\n  return inputData.documents.filter(d => d && d.type === type);\n}\n\n// Create AI-enhanced Business OS with intelligent domain mapping\nconst businessOS = {\n  \"0\": {\n    \"name\": \"Foundation\",\n    \"description\": \"Core identity, governance, and strategic direction\",\n    \"subdomains\": {\n      \"0.1\": \"Vision Mission Values\",\n      \"0.2\": \"Legal Entity & Governance\",\n      \"0.3\": \"Strategic Framework\"\n    },\n    \"content\": getDocumentsByType('mission_vision_values'),\n    \"ai_insights\": {\n      \"business_focus\": businessIntelligence.business_focus,\n      \"core_value_proposition\": businessIntelligence.core_value_proposition,\n      \"market_positioning\": businessIntelligence.market_positioning,\n      \"strategic_priorities\": businessIntelligence.strategic_priorities\n    },\n    \"action_items\": [\n      `Define ${businessIntelligence.business_focus} positioning strategy`,\n      `Document core value proposition: ${businessIntelligence.core_value_proposition}`,\n      \"Establish governance framework\"\n    ]\n  },\n  \"1\": {\n    \"name\": \"Market Intelligence\",\n    \"description\": \"Customer insights, market analysis, and competitive positioning\",\n    \"subdomains\": {\n      \"1.1\": \"Customer Personas & Segments\",\n      \"1.2\": \"Market Research & Analysis\",\n      \"1.3\": \"Competitive Intelligence\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"target_customers\": businessIntelligence.target_customers,\n      \"market_positioning\": businessIntelligence.market_positioning,\n      \"competitive_advantages\": businessIntelligence.competitive_advantages\n    },\n    \"action_items\": [\n      `Research ${businessIntelligence.target_customers.join(' and ')} segments`,\n      \"Conduct competitive analysis\",\n      \"Validate market positioning\"\n    ]\n  },\n  \"2\": {\n    \"name\": \"Brand & Marketing\",\n    \"description\": \"Brand identity, marketing strategy, and customer communication\",\n    \"subdomains\": {\n      \"2.1\": \"Brand Guidelines & Identity\",\n      \"2.2\": \"Marketing Strategy & Campaigns\",\n      \"2.3\": \"Content Strategy & Framework\"\n    },\n    \"content\": getDocumentsByType('brand_guidelines'),\n    \"ai_insights\": {\n      \"competitive_advantages\": businessIntelligence.competitive_advantages,\n      \"target_customers\": businessIntelligence.target_customers,\n      \"value_proposition\": businessIntelligence.core_value_proposition\n    },\n    \"action_items\": [\n      `Develop brand messaging highlighting ${businessIntelligence.competitive_advantages.slice(0,2).join(' and ')}`,\n      `Create content strategy for ${businessIntelligence.target_customers.join(' and ')}`,\n      \"Establish brand guidelines\"\n    ]\n  },\n  \"3\": {\n    \"name\": \"Product & Innovation\",\n    \"description\": \"Product development, innovation pipeline, and R&D\",\n    \"subdomains\": {\n      \"3.1\": \"Product Roadmap & Strategy\",\n      \"3.2\": \"Feature Development & Requirements\",\n      \"3.3\": \"Innovation & R&D Pipeline\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"growth_opportunities\": businessIntelligence.growth_opportunities,\n      \"technology_stack\": businessIntelligence.technology_stack,\n      \"strategic_priorities\": businessIntelligence.strategic_priorities\n    },\n    \"action_items\": [\n      `Develop roadmap targeting ${businessIntelligence.growth_opportunities.slice(0,2).join(' and ')}`,\n      `Leverage ${businessIntelligence.technology_stack.join(', ')} for innovation`,\n      \"Establish R&D process\"\n    ]\n  },\n  \"4\": {\n    \"name\": \"Operations\",\n    \"description\": \"Business processes, quality management, and operational efficiency\",\n    \"subdomains\": {\n      \"4.1\": \"Process Documentation & SOPs\",\n      \"4.2\": \"Quality Management & Standards\",\n      \"4.3\": \"Supply Chain & Vendor Management\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"operational_challenges\": businessIntelligence.operational_challenges,\n      \"scalability_factors\": businessIntelligence.scalability_factors,\n      \"business_model\": businessIntelligence.business_model\n    },\n    \"action_items\": [\n      `Address ${businessIntelligence.operational_challenges.join(' and ')}`,\n      `Implement ${businessIntelligence.scalability_factors.join(' and ')} for scaling`,\n      \"Document core processes\"\n    ]\n  },\n  \"5\": {\n    \"name\": \"Technology & Systems\",\n    \"description\": \"Technology infrastructure, development processes, and technical architecture\",\n    \"subdomains\": {\n      \"5.1\": \"Technology Stack & Architecture\",\n      \"5.2\": \"Development Process & DevOps\",\n      \"5.3\": \"Infrastructure & Security\"\n    },\n    \"content\": getDocumentsByType('resource_inventory'),\n    \"ai_insights\": {\n      \"technology_stack\": businessIntelligence.technology_stack,\n      \"scalability_factors\": businessIntelligence.scalability_factors,\n      \"competitive_advantages\": businessIntelligence.competitive_advantages\n    },\n    \"action_items\": [\n      `Document ${businessIntelligence.technology_stack.join(', ')} architecture`,\n      `Implement ${businessIntelligence.scalability_factors.join(' and ')}`,\n      \"Establish development standards\"\n    ]\n  },\n  \"6\": {\n    \"name\": \"Human Resources\",\n    \"description\": \"Team structure, culture, talent management, and organizational development\",\n    \"subdomains\": {\n      \"6.1\": \"Team Structure & Roles\",\n      \"6.2\": \"Culture & Values Implementation\",\n      \"6.3\": \"Talent Strategy & Development\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"operational_challenges\": businessIntelligence.operational_challenges,\n      \"competitive_advantages\": businessIntelligence.competitive_advantages,\n      \"scalability_factors\": businessIntelligence.scalability_factors\n    },\n    \"action_items\": [\n      \"Define team structure and roles\",\n      \"Implement culture and values framework\",\n      \"Develop talent acquisition strategy\"\n    ]\n  },\n  \"7\": {\n    \"name\": \"Finance & Legal\",\n    \"description\": \"Financial planning, legal compliance, risk management, and governance\",\n    \"subdomains\": {\n      \"7.1\": \"Financial Planning & Analysis\",\n      \"7.2\": \"Legal Compliance & Contracts\",\n      \"7.3\": \"Risk Management & Insurance\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"business_model\": businessIntelligence.business_model,\n      \"risk_factors\": businessIntelligence.risk_factors,\n      \"growth_opportunities\": businessIntelligence.growth_opportunities\n    },\n    \"action_items\": [\n      `Develop financial model for ${businessIntelligence.business_model}`,\n      `Mitigate ${businessIntelligence.risk_factors.join(' and ')} risks`,\n      \"Establish compliance framework\"\n    ]\n  },\n  \"8\": {\n    \"name\": \"Partnerships & Stakeholders\",\n    \"description\": \"Strategic partnerships, stakeholder management, and external relationships\",\n    \"subdomains\": {\n      \"8.1\": \"Strategic Partnerships & Alliances\",\n      \"8.2\": \"Investor Relations & Funding\",\n      \"8.3\": \"Community & Public Relations\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"growth_opportunities\": businessIntelligence.growth_opportunities,\n      \"target_customers\": businessIntelligence.target_customers,\n      \"market_positioning\": businessIntelligence.market_positioning\n    },\n    \"action_items\": [\n      `Develop partnerships for ${businessIntelligence.growth_opportunities.slice(0,2).join(' and ')}`,\n      `Engage ${businessIntelligence.target_customers.join(' and ')} communities`,\n      \"Build stakeholder communication plan\"\n    ]\n  },\n  \"9\": {\n    \"name\": \"Growth & Future\",\n    \"description\": \"Growth strategy, future planning, innovation, and scaling framework\",\n    \"subdomains\": {\n      \"9.1\": \"Growth Strategy & Expansion\",\n      \"9.2\": \"Future Roadmap & Vision\",\n      \"9.3\": \"Scaling Framework & Systems\"\n    },\n    \"content\": [],\n    \"ai_insights\": {\n      \"growth_opportunities\": businessIntelligence.growth_opportunities,\n      \"strategic_priorities\": businessIntelligence.strategic_priorities,\n      \"scalability_factors\": businessIntelligence.scalability_factors\n    },\n    \"action_items\": [\n      `Execute ${businessIntelligence.growth_opportunities.join(', ')} initiatives`,\n      `Focus on ${businessIntelligence.strategic_priorities.slice(0,2).join(' and ')}`,\n      \"Build scaling infrastructure\"\n    ]\n  }\n};\n\n// Generate AI-powered implementation roadmap\nconst aiRoadmap = {\n  \"phase_1\": {\n    \"name\": \"AI-Guided Foundation & Core Systems\",\n    \"duration\": \"4-6 weeks\",\n    \"domains\": [\"0\", \"2\", \"5\"],\n    \"focus\": `Establish ${businessIntelligence.business_focus} foundation`,\n    \"key_tasks\": [\n      `Define ${businessIntelligence.business_focus} strategic framework`,\n      `Document ${businessIntelligence.core_value_proposition}`,\n      `Implement ${businessIntelligence.technology_stack.join(', ')} architecture`,\n      `Establish brand positioning for ${businessIntelligence.target_customers.join(' and ')}`\n    ],\n    \"success_metrics\": [\n      \"Strategic framework documented\",\n      \"Brand guidelines established\", \n      \"Technology stack documented\",\n      \"Core processes defined\"\n    ],\n    \"ai_priority\": \"Critical - Foundation enables all other domains\"\n  },\n  \"phase_2\": {\n    \"name\": \"Market Intelligence & Product Development\",\n    \"duration\": \"6-8 weeks\",\n    \"domains\": [\"1\", \"3\", \"4\"],\n    \"focus\": `Build market presence and ${businessIntelligence.business_model} capabilities`,\n    \"key_tasks\": [\n      `Research ${businessIntelligence.target_customers.join(' and ')} deeply`,\n      `Develop products targeting ${businessIntelligence.growth_opportunities.slice(0,2).join(' and ')}`,\n      `Address ${businessIntelligence.operational_challenges.join(' and ')}`,\n      \"Establish competitive intelligence framework\"\n    ],\n    \"success_metrics\": [\n      \"Customer personas validated\",\n      \"Product roadmap defined\",\n      \"Market positioning confirmed\",\n      \"Operational processes optimized\"\n    ],\n    \"ai_priority\": \"High - Market understanding drives product success\"\n  },\n  \"phase_3\": {\n    \"name\": \"Growth & Scale Infrastructure\",\n    \"duration\": \"8-12 weeks\",\n    \"domains\": [\"6\", \"7\", \"8\", \"9\"],\n    \"focus\": \"Scale organization and build growth infrastructure\",\n    \"key_tasks\": [\n      \"Build team for scaling\",\n      `Implement ${businessIntelligence.scalability_factors.join(' and ')}`,\n      `Mitigate ${businessIntelligence.risk_factors.join(' and ')}`,\n      `Execute ${businessIntelligence.growth_opportunities.join(', ')} strategies`,\n      \"Establish partnership framework\"\n    ],\n    \"success_metrics\": [\n      \"Team structure optimized\",\n      \"Financial planning established\",\n      \"Partnership pipeline active\",\n      \"Growth metrics tracking\"\n    ],\n    \"ai_priority\": \"Strategic - Enables sustainable long-term growth\"\n  }\n};\n\nreturn [{\n  company_name: inputData.company_name,\n  business_os: businessOS,\n  ai_roadmap: aiRoadmap,\n  business_intelligence: businessIntelligence,\n  ai_model_used: \"ai/llama3.2:3B\",\n  analysis_timestamp: new Date().toISOString(),\n  status: 'success',\n  message: `AI-Enhanced Business OS generated for ${inputData.company_name} using local Model Runner`,\n  performance: {\n    documents_analyzed: inputData.documents.length,\n    ai_insights_generated: Object.keys(businessIntelligence).length,\n    domains_enhanced: 10,\n    action_items_created: Object.values(businessOS).reduce((acc, domain) => acc + (domain.action_items?.length || 0), 0)\n  }\n}];"
      },
      "id": "create-ai-business-os",
      "name": "Create AI Business OS",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "ai-response",
      "name": "AI Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Prepare AI Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare AI Analysis": {
      "main": [
        [
          {
            "node": "AI Business Intelligence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Business Intelligence": {
      "main": [
        [
          {
            "node": "Create AI Business OS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create AI Business OS": {
      "main": [
        [
          {
            "node": "AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
